<head>
  <title>Contact Us</title>
  <link rel="stylesheet" href="css/contactindex.css" />
  <script
    src="https://kit.fontawesome.com/7d645cdf8b.js"
    crossorigin="anonymous"
  ></script>
</head>
<div class="contactWholeContainer">
  <footer class="contactus1">
    <div class="formContainer">
      <h2>
        Contact ClinicFlow
        <i class="fa-solid fa-hospital-user contactIcon1"></i>
      </h2>
      <p id="wer">
        We're here to assist you. Please feel free to get in touch with us.
      </p>
      <form
        action="https://formspree.io/f/maygeone"
        method="POST"
        class="contactForm"
      >
        <input name="name" type="text" placeholder="Your Name" required />
        <input name="email" type="email" placeholder="Your Email" required />
        <textarea name="message" placeholder="Your Message"></textarea>
        <button type="submit" class="submitbut">Send</button>
      </form>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/surakshamore/"
          ><i class="fa-brands fa-linkedin contactIcon1"></i
        ></a>
        <a href="#"><i class="fa-brands fa-facebook contactIcon1"></i></a>
        <a href="#"> <i class="fa-brands fa-instagram contactIcon1"></i></a>
      </div>
    </div>
  </footer>
  <div class="clinicLocation">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121010.87061901457!2d73.79353577853252!3d18.592527387254282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c11aa9d5b7d9%3A0x120c84a5fcacb7bb!2sCloudnine%20Hospital%20-%20Kalyaninagar!5e0!3m2!1sen!2sin!4v1692172956012!5m2!1sen!2sin"
      width="400"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>