<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="/css/docDashindex.css" />
    <script
      src="https://kit.fontawesome.com/7d645cdf8b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>

    <!-- PROFILE  -->
    <div class="profileContainer1">
      <div class="doccotainer">
        <div class="profile1">
          <img src="/img/docImg.avif" class="docImg1" id="docImg1" />
          <div class="docData1">
            <h1 class="name1" id="docname1">Dr. Rama Joshi</h1>
            <p class="education1" id="docEdu1">
              Oncology | Gynaecologic Oncology
            </p>
            <div class="ageFeesContainer1">
              <p class="age1" id="docAge1">Age: 38 Years</p>
              <p class="fee1" id="docFee1">Fees: ₹ 1500</p>
              <!-- <i class="fa-solid fa-user-pen edit-icon1" id="editIcon1"></i> -->
            </div>
          </div>
        </div>
        <!-- <hr class="hrLine1"/> -->
        <div class="detail1">
          <h3 class="aboutName1">About</h3>
          <p class="about1 aboutContainer1">
            With a wealth of experience spanning 9 years, Dr. Rama Joshi stands
            as a seasoned expert in Gynaecologic Oncology. Her remarkable
            journey as an oncologist has been marked by a relentless dedication
            to women's health and well-being. Through her patient-centered
            approach, she crafts individualized treatment strategies that
            empower patients to face their cancer battles with strength. Dr.
            Joshi's deep commitment to staying abreast of the latest
            advancements ensures that her patients benefit from cutting-edge
            care. Her compassionate nature, combined with her extensive
            expertise, makes her a beacon of hope for those navigating the
            challenges of gynecologic cancers.Her unwavering commitment to
            patient care, honed over 9 years, has fostered a reputation of trust
            and excellence. By seamlessly blending medical expertise with
            genuine empathy, she empowers women to confront their cancer
            journeys with resilience. Dr. Joshi's dedication to staying at the
            forefront of medical advancements ensures that her patients receive
            the highest standard of care available.
          </p>
          <h3 class="educationName1">Education</h3>
          <p class="about1 aboutContainer1">
            MBBS (Gold Medalist); MS (Oncology); Former Fellow Oncology-TMH
            Mumbai; UICC Fellow, B.G.H, Buffalo, NY, USA
          </p>
        </div>
      </div>
    </div>
  
  </body>
  <script src="index.js"></script>
</html>
