<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/doctorprofindex.css">
  <title>Doctor Profile</title>
</head>
<body>
 
<div class="wholedrprofilecont">
   <header class="doctor-header4">
    <div class="doctor-box4">
    <div class="doctor-info4">
      <img src="/img/docImg.avif"  alt="Doctor Image" class="doctor-image4">
      <div class="doctor-details4">
        <h1>Dr. Rama Joshi</h1>
        <p>Oncology | Gynaecologic Oncology</p>
        <p class="contact-info4">+987685467382 | drramajoshi@gmail.com</p>
        <a href="https://meet.google.com/" target="_blank" class="video-call-button4">Start Video Call</a>
      </div>
    </div>
    </div>
  </header>


  <section class="profile4">
    <div class="section-box">
    <div class="profile-info4">
      <h1>Profile</h1>
      <p>With a wealth of experience spanning 9 years, Dr. Rama Joshi stands
        as a seasoned expert in Gynaecologic Oncology. Her remarkable
        journey as an oncologist has been marked by a relentless dedication
        to women's health and well-being.</p>
    </div>
    <div class="qualifications4">
      <h1>Qualifications</h1>
      <ul>
        <li>MD in Cardiology - University Medical School</li>
        <li>Master of Surgery (M.S.) in Orthopedics</li>
        <li>MBBS - University Medical School</li>
      </ul>
    </div>
    <div class="experience-heading4">
      <!-- <h2>Employment</h2> -->
    
      <div class="drsinfo">
<p class="experience-heading4">Address: Kalyani Nagar, Pune, Maharashtra 411006</p>

<!-- <ul> -->
    <!-- <li>Measured patient's vitals and prepared case papers to assist in physician's diagnosis. </li> -->
    <!-- <li>Documented patient's medical history and worked with the nursing team to collect and handle blood and urine samples for sending it to the pathological lab. </li> -->
    <!-- <li>Recorded patient's blood pressure, pulse, body temperature, medical history, and ongoing medications to update it in the database.</li> -->
    <!-- <li>Worked with the administrative department to perform various duties like patient scheduling, entering medical information in the database, and giving timely reminders to patients about follow-ups. </li> -->
    <!-- <li>Prescribed medicines to treat the patients upon considering the symptoms and medical history.</li> -->
<!-- </ul> -->

</div>
<section class="cards">
  <div class="card">
    <div class="surgeries4">
      <u><h2>Surgeries Done</h2></u>
      <div class="surgeries-info4">
        <img src="/img/Surgeon.png" alt="Surgery Icon" class="icon4">
        <p>Successfully performed <span id="successfulSurgeries4">50+</span> surgeries.</p>
      </div>
    </div>
</div>
<div class="card">  
    <div class="patients4">
      <u><h2>Total Patients Checked</h2></u>
      <div class="info-with-icon4">
        <img src="/img/checked.jpg" alt="Patient Icon" class="icon4">
        <p>Checked <span id="totalPatients4">1000+</span> patients.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="experience4">
     <u><h2>Experience</h2></u>
      <div class="info-with-icon4">
        <img src="/img/experience.png" alt="Experience Icon" class="icon4">
        <p>Experience spanning 9 years, Dr. Rama Joshi stands
          as a seasoned expert in Gynaecologic Oncology. Her remarkable
          journey as an oncologist has been marked by a relentless dedication
          to women's health and well-being.</p>
      </div>
    </div>
    </div>
  </div>
</section>
  </section>
</div>
</body>
</html>