<div class="main-container5">

  <div class="intro5">
    <!-- Introduction Section -->
    <div class="intro-title5">
      <h1>We Care About Your <span>Families</span></h1>
    </div>
    <div class="intro-description5">
      <p>
        Elevating Healthcare and Seamlessly Connecting You to Wellness
        Through Virtual Excellence.
      </p>
    </div>
  </div>

  <div class="sub-intro5">
    <!-- Sub-Introduction Section -->
    <div class="advantages5">
      <h2><span>Our Advantages</span></h2>
      <!-- List of Advantages -->
      <ul class="advantage-points5">
        <li>
          <img
            src="/img/best-appointment.png"
            alt="appointment"
            width="20"
            height="20"
          />

          <p>Make an Appointment</p>
        </li>

        <li>
          <img src="/img/x-ray.svg" alt="x-ray" width="25" height="20" />

          <p>Telemedicine Integration</p>
        </li>

        <li>
          <img
            src="/img/emergency.svg"
            alt="emergency"
            width="27"
            height="23"
          />
          <p>Emergency Services</p>
        </li>

        <li>
          <img
            src="/img/immunize.svg"
            alt="immunize"
            width="24"
            height="22"
          />
          <p>24/7 availability</p>
        </li>
      </ul>
    </div>
    <div class="doctor-image5">
      <img
        src="/img/subintro-doc.png"
        alt="doctors"
        width="740"
        height="480"
      />
    </div>
    <div class="hospi-contact5">
      <!-- Hospital Contact Information -->
      <div class="phno-email5">
        <div class="phno5">
          <img src="/img/phone (1).svg" alt="" width="20" height="25" class="smallicons"/>
          <p>8583905839</p>
        </div>
        <div class="email5">
          <img
            id="email5"
            src="/img/email.svg"
            alt="email"
            width="20"
            height="25"
            class="smallicons"
          />
          <p>clinicflow8@gmail.com</p>
        </div>
      </div>
      <div class="location5">
        <img src="/img/location.svg" alt="" width="20" height="25" class="smallicons"/>
        <p>Kalyani Nagar, Pune, Maharashtra 411006</p>
      </div>
    </div>
  </div>

  <div class="doctors5">
    <!-- Doctors Section -->
    <div class="doctor-profile5">
      <img
        id="doctor-image5"
        src="/img/doctor.png"
        alt="doctor"
        width="500px"
        height="530px"
      />
    </div>
    <div class="doctor-info5">
      <!-- Doctor Information Section -->
      <div class="get-ready5">
        <h2><span>Quick Solution</span></h2>
        <h1 class="doctor-appointment5">
          Easy <span>Same</span> Or Next Day Appointment
        </h1>
        <p class="appointment-info5">
          Easily make appointment with our best doctor for your families in
          the same day or the next day.
        </p>
        <div class="make-appointment5">
          <!-- Make Appointment Section -->
          <ul class="appointment-details5">
            <li>
              <img
                src="/img/best-appointment.png"
                alt="appointment"
                width="20"
                height="20"
              />

              Easy Online Booking Here
            </li>

            <li>
              <img
                src="/img/x-ray.svg"
                alt="x-ray"
                width="25"
                height="20"
              />

              Best Quality Appointment Services
            </li>
            <a href="/appointments/book"><button id="appointment-button5">Make An Appointment</button>
            </a>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="services5">
    <!-- Services Section -->
    <div class="services-header5">
      <!-- Services Header -->
      <h3><span>Our Services</span></h3>

      <h1>The <span>Best Quality</span> Service For Your Family</h1>
    </div>
  </div>

  <div class="cards5">
    <!-- Service Cards Section -->
    <div class="card5">
      <!-- Service Card -->
      <div class="service-image-name5">
        <!-- Service Image and Name -->
        <img
          src="/img/primary-care-removebg-preview.png"
          alt="design"
          width="80px"
          height="70px"
        />
        <h3>Primary Care</h3>
      </div>

      <p>
        Our certified doctors provide best medical care to keep you healthy.
      </p>
      <div class="more-info5">
        <p>Learn More</p>
        <img
          src="/img/right-arrow.svg"
          alt="right-arrow"
          width="30"
          height="30"
        />
      </div>
    </div>
    <!-- Repeat the same structure for other service cards -->
    <div class="card5">
      <div class="service-image-name5">
        <img
          src="/img/telecare-removebg-preview.png"
          alt="design"
          width="70px"
          height="68px"
        />
        <h3>TeleCare</h3>
      </div>

      <p>
        In case of telemedicine or virtual consultations, for remote patient
        interactions.
      </p>
      <div class="more-info5">
        <p>Learn More</p>
        <img
          src="/img/right-arrow.svg"
          alt="right-arrow"
          width="30"
          height="30"
        />
      </div>
    </div>
    <div class="card5">
      <div class="service-image-name5">
        <img
          src="/img/microscope-removebg-preview.png"
          alt="design"
          width="60px"
          height="60px"
        />
        <h3>Hematology</h3>
      </div>

      <p>
        Precise analysis of health indicators to provide valuable insights.
      </p>
      <div class="more-info5">
        <p>Learn More</p>
        <img
          src="/img/right-arrow.svg"
          alt="right-arrow"
          width="30"
          height="30"
        />
      </div>
    </div>
    <div class="card5">
      <div class="service-image-name5">
        <img
          src="/img/sscope-removebg-preview.png"
          alt="design"
          width="150px"
          height="100px"
        />
        <h3>Adaptability</h3>
      </div>

      <p>
        A website can be updated with new information, keeping patients
        engaged.
      </p>
      <div class="more-info5">
        <p>Learn More</p>
        <img
          src="/img/right-arrow.svg"
          alt="right-arrow"
          width="30"
          height="30"
        />
      </div>
    </div>
    <div class="card5">
      <div class="service-image-name5">
        <img
          src="/img/urology-removebg-preview.png"
          alt="design"
          width="80px"
          height="90px"
        />
        <h3>Urology</h3>
      </div>

      <p>Expert urology services offering advanced diagnostics.</p>
      <div class="more-info5">
        <p>Learn More</p>
        <img
          src="/img/right-arrow.svg"
          alt="right-arrow"
          width="30"
          height="30"
        />
      </div>
    </div>
    <div class="card5">
      <div class="service-image-name5">
        <img
          src="/img/surgery-removebg-preview.png"
          alt="design"
          width="120px"
          height="90px"
        />
        <h3>Surgery</h3>
      </div>

      <p>Precise surgical interventions crafted to restore health.</p>
      <div class="more-info5">
        <p>Learn More</p>
        <img
          src="/img/right-arrow.svg"
          alt="right-arrow"
          width="30"
          height="30"
        />
      </div>
    </div>
  </div>

  <div class="easy-appointment5">
    <!-- Easy Appointment Section -->
    <h2>Want to make an appointment easily?</h2>
    <a href="/contact"><p id="contact-here5">Contact Here</p></a>
  </div>

</div>
