<head>
  <title>Patient Dashboard</title>
  <link rel="stylesheet" href="/css/patientDashindex.css" />
</head>
<body>
  <div class="container1">
    <h1 class="page-title">Patient List</h1>
    <div class="patients-row1">
      <div class="patientContainer1">
        <div class="patientInfo1">
          <div>
            <h3 class="patient-name1">James Smith</h3>
            <p class="patient-contact1">Contact: +91 9011418769</p>
            <p class="patient-history1">
              Medical History: Hypertension, Allergies
            </p>
            <a href="/patient/view" class="view-details1">View Details</a>
          </div>
          <div class="button-container1">
            <button class="confirm-button1">Confirm</button>
            <button class="cancel-button1">Cancel</button>
          </div>
        </div>
      </div>
      <div class="patientContainer1">
        <div class="patientInfo1">
          <div>
            <h3 class="patient-name1">Raman Linge</h3>
            <p class="patient-contact1">Contact: +91 8867564325</p>
            <p class="patient-history1">Medical History: Diabetes</p>
            <a href="/patient/view" class="view-details1">View Details</a>
          </div>
          <div class="button-container1">
            <button class="confirm-button1">Confirm</button>
            <button class="cancel-button1">Cancel</button>
          </div>
        </div>
      </div>
      <div class="patientContainer1">
        <div class="patientInfo1">
          <div>
            <h3 class="patient-name1">Kedar Patil</h3>
            <p class="patient-contact1">Contact: +91 9856237875</p>
            <p class="patient-history1">
              Medical History: Asthma, High Cholesterol
            </p>
            <a href="/patient/view" class="view-details1">View Details</a>
          </div>
          <div class="button-container1">
            <button class="confirm-button1">Confirm</button>
            <button class="cancel-button1">Cancel</button>
          </div>
        </div>
      </div>
      <div class="patientContainer1">
        <div class="patientInfo1">
          <div>
            <h3 class="patient-name1">Vaishnavi Tipale</h3>
            <p class="patient-contact1">Contact: +91 9078563387</p>
            <p class="patient-history1">Medical History: Migraine, Anxiety</p>
            <a href="/patient/view" class="view-details1">View Details</a>
          </div>
          <div class="button-container1">
            <button class="confirm-button1">Confirm</button>
            <button class="cancel-button1">Cancel</button>
          </div>
        </div>
      </div>
      <div class="patientContainer1">
        <div class="patientInfo1">
          <div>
            <h3 class="patient-name1">Karan Veer</h3>
            <p class="patient-contact1">Contact: +91 9867566625</p>
            <p class="patient-history1">Medical History: Arthritis</p>
            <a href="/patient/view" class="view-details1">View Details</a>
          </div>
          <div class="button-container1">
            <button class="confirm-button1">Confirm</button>
            <button class="cancel-button1">Cancel</button>
          </div>
        </div>
      </div>
      <div class="patientContainer1">
        <div class="patientInfo1">
          <div>
            <h3 class="patient-name1">Aryan Bhosale</h3>
            <p class="patient-contact1">Contact: +91 9167564325</p>
            <p class="patient-history1">
              Medical History: Heart Disease, Hypertension
            </p>
            <a href="/patient/view" class="view-details1">View Details</a>
          </div>
          <div class="button-container1">
            <button class="confirm-button1">Confirm</button>
            <button class="cancel-button1">Cancel</button>
          </div>
        </div>
      </div>
      <div class="patientContainer1">
        <div class="patientInfo1">
          <div>
            <h3 class="patient-name1">Shruti Gaikwad</h3>
            <p class="patient-contact1">Contact: +91 7432657889</p>
            <p class="patient-history1">Medical History: Allergies, Asthma</p>
            <a href="/patient/view" class="view-details1">View Details</a>
          </div>
          <div class="button-container1">
            <button class="confirm-button1">Confirm</button>
            <button class="cancel-button1">Cancel</button>
          </div>
        </div>
      </div>
      <div class="patientContainer1">
        <div class="patientInfo1">
          <div>
            <h3 class="patient-name1">Samadhan Kate</h3>
            <p class="patient-contact1">Contact: +91 9422098631</p>
            <p class="patient-history1">
              Medical History: Thyroid Disorder, Depression
            </p>
            <a href="#" class="view-details1">View Details</a>
          </div>
          <div class="button-container1">
            <button class="confirm-button1">Confirm</button>
            <button class="cancel-button1">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/js/patientDashindex.js"></script>
