<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Details</title>
    <link rel="stylesheet" href="/css/patientDashindex.css" />
  </head>
  <body>
    <div class="viewDetailCont1">
      <h1 class="patientDetailTitle1">Patient Details</h1>
      <div class="eachDetail1">
        <div class="patient-info">
          <div class="patientDetailCont1">
            <h2><span>Full Name:</span> John Doe</h2>
            <p><span class="subtitle1">Contact:</span> +91 9011418769</p>
            <p>
              <span class="subtitle1">Date of Birth:</span> January 15, 1985
            </p>
            <p><span class="subtitle1">Gender: </span>Male</p>
            <p>
              <span class="subtitle1">Address: </span>52 nd Floor Abde Kulsum
              Terrace Walton Road Colaba, Mumbai, Pune, 400039, India
            </p>
          </div>
          <div class="patientImgCont1">
            <img src="/img/patient1.jpg" class="patientImg1" />
          </div>
        </div>
        <div class="medicalHistory1">
          <h2 class="meducalHistortTitle1">Medical History</h2>
          <div class="medical-history">
            <div class="detailSubheading1">
              <h3 class="heading-subtitle1">Medical Conditions:</h3>
              <ul>
                <li>Hypertension</li>
                <li>Allergies</li>
              </ul>
            </div>
            <div class="detailSubheading1">
              <h3>Allergies:</h3>
              <ul>
                <li>Pollen</li>
                <li>Peanuts</li>
              </ul>
            </div>
            <div class="detailSubheading1">
              <h3>Medications:</h3>
              <ul>
                <li>Lisinopril (10mg)</li>
                <li>Allegra (180mg)</li>
              </ul>
            </div>
          </div>
        </div>
        <h2>Previous Appointments</h2>
        <div class="previous-appointments">
          <ul>
            <li>
              <!-- <div class="appointment"> -->
              <p>Date: August 10, 2023</p>
              <p>Reason: Checkup</p>
              <!-- </div> -->
            </li>
            <li>
              <!-- <div class="appointment"> -->
              <p>Date: July 25, 2023</p>
              <p>Reason: Fever</p>
              <!-- </div> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
